@layer base;

.Note {
	background: var(--color-HighlightBackground);
	padding-block: 0.75em;
	padding-inline: 1em;

	> :first-child {
		margin-block-start: 0;
	}

	@media (forced-colors) {
		border: 0.0625rem solid;
	}
}
