<footer class="footer container">

  <div class="footer__links">
    <a href="/imprint/">Imprint</a>
    <a href="/feed.xml">Feed</a>
    <a href="https://github.com/mvsde/website/edit/main/content{{ page.filePathStem }}.md">Edit on GitHub</a>
  </div>

  {% include "theme.njk" %}

</footer>
