.footer {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding-top: 2em;
  padding-bottom: 2em;
}

.footer__links {
  display: flex;
  gap: 1em;
}

@media (min-width: 40rem) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
