{% set links = [
  {
    url: '/blog/',
    title: 'Blog'
  },
  {
    url: '/talks/',
    title: 'Talks'
  },
  {
    url: 'https://twitter.com/mvsde',
    title: 'Twitter'
  },
  {
    url: 'https://github.com/mvsde',
    title: 'GitHub'
  }
] %}

<header class="header container">

  <a
    class="header__title"
    aria-label="Fynn Becker homepage"
    href="/"
    {% if page.url === '/' %}aria-current="page"{% endif %}
  >Fynn Becker</a>

  <nav class="header__nav">
    {% for link in links %}
      {% set is_current = page.url === link.url %}
      <a
        class="
          header__link
          {% if is_current %}is-active{% endif %}"
          href="{{ link.url }}"
          {% if is_current %}aria-current="page"{% endif %}
        >{{ link.title }}</a>
    {% endfor %}
  </nav>

</header>
