{% set links = [
  {
    url: "/blog/",
    title: "Blog"
  },
  {
    url: "/talks/",
    title: "Talks"
  },
  {
    url: "https://twitter.com/mvsde",
    title: "Twitter",
    icon: "twitter"
  },
  {
    url: "https://github.com/mvsde",
    title: "GitHub",
    icon: "github"
  }
] %}

<header class="header container">

  <a
    class="header__title"
    aria-label="Fynn Becker homepage"
    href="/"
    {% if page.url === '/' %}aria-current="page"{% endif %}
  >Fynn Becker</a>

  <nav class="header__nav">
    {% for link in links %}
      {% set is_current = page.url === link.url %}
      <a
        class="
          header__link
          {% if link.icon %}is-icon{% endif %}
          {% if is_current %}is-active{% endif %}
        "
        href="{{ link.url }}"
        {% if is_current %}aria-current="page"{% endif %}
        {% if link.icon %}aria-label="{{ link.title }}"{% endif %}
      >
        {% if link.icon %}
          {% set icon = { name: link.icon } %}
          {% include "icon.njk" %}
        {% else %}
          {{ link.title }}
        {% endif %}
      </a>
    {% endfor %}
  </nav>

</header>
