<figure class="hero">

  {% if hero.image %}
    <img
      class="hero__media"
      src="{{ hero.image }}"
      alt="{{ hero.alt }}"
      width="1120"
      height="{{ hero.height }}"
    >
  {% elseif hero.youtube %}
    <div class="hero__media aspect-ratio is-16-9">
      <iframe
        title="{{ hero.title }}"
        src="https://www.youtube-nocookie.com/embed/{{ hero.youtube }}"
        width="1120"
        height="630"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  {% endif %}

  {% if hero.caption %}
    <figcaption class="hero__caption">
      {{ hero.caption | safe }}
    </figcaption>
  {% endif %}

</figure>
