<nav class="pagination" aria-label="Page navigation">
  <ol class="pagination__list">
    {% for url in pagination.hrefs %}
      {% set isCurrent = page.url == url %}

      <li class="pagination__item">
        <a
          href="{{ url }}"
          class="pagination__link {% if isCurrent %}is-active{% endif %}"
          {% if isCurrent %}aria-current="page"{% endif %}
        >
          Page {{ loop.index }}
        </a>
      </li>
    {% endfor %}
  </ol>
</nav>
