{% set themes = [
  {
    title: "System",
    icon: "system",
    theme: "system"
  },
  {
    title: "Light",
    icon: "sun",
    theme: "light"
  },
  {
    title: "Dark",
    icon: "moon",
    theme: "dark"
  }
] %}

<div class="theme js-theme">
  <h2 class="theme__heading">Theme:</h2>

  {% for theme in themes %}
    {% set icon = { name: theme.icon } %}
    <button
      class="theme__button js-theme-button"
      data-theme="{{ theme.theme }}"
    >
      {% include "icon.njk" %}
      {{ theme.title }}
    </button>
  {% endfor %}
</div>
