---
permalink: feed.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>Fynn Becker</title>
	<subtitle>Updates from Fynn’s personal website.</subtitle>
	<updated>{{ collections.feed|getNewestCollectionItemDate|formatRSSDate }}</updated>
	<icon>{{ base }}/favicon.svg</icon>

	<link href="{{ base }}/{{ permalink }}" rel="self"/>
	<link href="{{ base }}/"/>
	<id>{{ base }}/</id>

	<author>
		<name>Fynn Becker</name>
		<email>post@fynn.be</email>
	</author>

	{% for post in collections.feed %}
		{% set absolutePostUrl %}{{ post.url|url|absoluteUrl(base) }}{% endset %}
		{% set hero = post.data.hero %}
		{% set hero_markup %}{% include "feed-hero.njk" %}{% endset %}

		<entry>
			<title>{{ post.data.title }}</title>
			<link href="{{ absolutePostUrl }}"/>
			<published>{{ post.date|formatRSSDate }}</published>
			<updated>{{ post.date|formatRSSDate }}</updated>
			<id>urn:uuid:{{ post.data.id }}</id>
			{% if post.data.summary %}
				<summary>{{ post.data.description }}</summary>
			{% endif %}
			<content type="html">
				{% if hero %}{{ hero_markup }}{% endif %}
				{{ post.templateContent|htmlToAbsoluteUrls(absolutePostUrl) }}
			</content>
		</entry>
	{% endfor %}
</feed>
