---
permalink: feed.xml
layout: false
eleventyExcludeFromCollections: true

metadata:
  title: Fynn Becker
  description: Personal website and playground for experiments.
  icon: favicon.svg
  author:
    name: Fynn Becker
    email: post@fynn.be
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ language }}">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.description }}</subtitle>
	<icon>{{ metadata.icon|htmlBaseUrl(base) }}</icon>
	<updated>{{ collections.feed|getNewestCollectionItemDate|formatRSSDate }}</updated>
	<id>{{ base|addPathPrefixToFullUrl }}</id>
	<link href="{{ permalink|htmlBaseUrl(base) }}" rel="self"/>
	<link href="{{ base|addPathPrefixToFullUrl }}"/>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>

	{% for post in collections.feed|reverse %}
		{% set absolute_post_url = post.url|htmlBaseUrl(base) %}

		{% set hero = post.data.hero %}
		{% set hero_markup %}{% include "feed-hero.njk" %}{% endset %}

		<entry>
			<title>{{ post.data.title }}</title>
			<link href="{{ absolute_post_url }}"/>
			<updated>{{ post.date|formatRSSDate }}</updated>
			<id>{{ absolute_post_url }}</id>
			{% if post.data.description %}
				<summary>{{ post.data.description }}</summary>
			{% endif %}
			<content type="html">
				{% if hero %}{{ hero_markup }}{% endif %}
				{{ post.content|renderTransforms(post.data.page, base) }}
			</content>
		</entry>
	{% endfor %}
</feed>
