@layer base {
	:root {
		/* Default */
		--typo-Default-font-family: "Nudica", sans-serif;
		--typo-Default-line-height: 1.4;

		/* Heading */
		--typo-Heading-font-family: "Teko", sans-serif;
		--typo-Heading-font-weight: 600;
		--typo-Heading-line-height: 1;

		/* Rich text */
		--typo-RichText-font-size: 1.125rem;
		--typo-RichText-line-height: 1.7;

		/* Code */
		--typo-Code-font-family: "Nudica Mono", monospace;
		--typo-Code-font-size: calc(16 / 18 * 1em);
	}
}
