.Footer {
	overflow-x: hidden;
	position: relative;
}

.Footer::after {
	--opacity--light: var(--is-theme-light) 0.18;
	--opacity--dark: 0.3;
	--opacity: var(--opacity--light, var(--opacity--dark));

	--blend-mode--light: var(--is-theme-light) darken;
	--blend-mode--dark: ;
	--blend-mode: var(--blend-mode--light, var(--blend-mode--dark));

	background: var(--non-binary-pride-flag);
	content: '';
	inset-block: 0;
	inset-inline: -1.5rem;
	mix-blend-mode: var(--blend-mode);
	opacity: var(--opacity);
	position: absolute;
	transform: skew(-15deg);
	z-index: -1;
}

.Footer-content {
	align-items: center;
	column-gap: 2.5em;
	display: flex;
	flex-wrap: wrap;
	font-size: 1rem;
	padding-block: 2em;
	row-gap: 1.5em;
}

.Footer-navList {
	display: flex;
	font-weight: bold;
	gap: 1em;
	justify-content: center;
}

.Footer-navLink:not(:hover) {
	text-decoration: none;
}
