.Footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 2.5em;
	row-gap: 1.5em;

	padding-block: 2em;
}

.Footer-links {
	display: flex;
	justify-content: center;
	gap: 1em;

	font-weight: bold;
}

.Footer-link:not(:hover) {
	text-decoration: none;
}
