.Header {
	font-size: 1rem;
	padding-block: var(--container-padding);
}

.Header-navList {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em 1em;
}

.Header-navLink {
	font-weight: bold;
	text-decoration: none;
}

.Header-navLink:is(:hover, .is-active) {
	text-decoration: underline;
	text-decoration-thickness: 0.125em;
}

.Header-navLink:has(.Header-navIcon) {
	display: flex;
}

.Header-navIcon {
	font-size: 1.25em;
}
