.Header {
	font-size: 1rem;
	padding-block: var(--container-padding);
}

.Header-nav {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em 1em;
}

@media (width >= 27rem) {
	.Header-nav::after {
		--color-yellow: hsl(58deg 97% 60%);
		--color-white: hsl(0deg 0% 99%);
		--color-purple: hsl(274deg 57% 58%);
		--color-black: hsl(0deg 0% 17%);

		aspect-ratio: 4;
		background: linear-gradient(
			to right,
			var(--color-yellow) 25%,
			var(--color-white) 25% 50%,
			var(--color-purple) 50% 75%,
			var(--color-black) 75%
		);
		block-size: 1.5em;
		border-radius: var(--border-radius-small);
		content: '';
		margin-inline-start: auto;
	}
}

.Header-link {
	font-weight: bold;
	text-decoration: none;
}

.Header-link:hover,
.Header-link.is-active {
	text-decoration: underline;
	text-decoration-thickness: 0.125em;
}

.Header-icon {
	display: block;
	font-size: 1.25em;
}
