.Header {
	padding-block: var(--container-padding);
}

.Header-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5em 1em;
}

.Header-link {
	font-weight: bold;
	text-decoration: none;
}

.Header-link:hover,
.Header-link.is-active {
	text-decoration: underline;
	text-decoration-thickness: 0.125em;
}

.Header-icon {
	display: block;
	font-size: 1.25em;
}
