.Hero {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	inline-size: var(--container-width);
	margin-block: calc(var(--content-hero-bleed) * -1) 2rem;
	margin-inline: auto;
	max-inline-size: 100%;
}

@media (width >= 54rem) {
	.Hero {
		flex-direction: row;
	}
}

.Hero-figure {
	flex-grow: 1;
}

.Hero-media {
	box-shadow: var(--box-shadow-large);
}

@media (width <= 54rem) {
	.Hero-media {
		border-radius: 0;
	}
}

@media (width <= 70rem) {
	.Hero-media {
		border-end-start-radius: 0;
		border-start-start-radius: 0;
	}
}

.Hero-caption {
	color: var(--color-text-muted);
	font-size: 1rem;
	font-style: italic;
	padding: var(--container-padding);
}

.Hero-caption a {
	color: currentcolor;
}

.Hero-cards {
	align-content: end;
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

@media (width <= 54rem) {
	.Hero-cards > * {
		border-radius: 0;
	}
}

@media (width <= 70rem) {
	.Hero-cards > * {
		border-end-end-radius: 0;
		border-start-end-radius: 0;
	}
}
