.Theme {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5em;
}

.Theme:not(.is-init) {
	display: none;
}

.Theme-heading {
	display: inline;
	margin: 0;

	font-size: 1em;
}

.Theme-button {
	display: flex;
	align-items: center;
	gap: 0.375em;

	padding-inline: 0.25em;
}

.Theme-icon {
	flex-shrink: 0;
}
