.Theme {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	justify-content: center;
}

.Theme-heading {
	display: inline;
	font-size: 1em;
	margin: 0;
}

.Theme-button {
	align-items: center;
	display: flex;
	gap: 0.375em;
	padding-inline: 0.25em;
}

.Theme-icon {
	flex-shrink: 0;
}
