.aspect-ratio.is-16-9 > * {
  aspect-ratio: 16 / 9;
}

@supports not (aspect-ratio: 16 / 9) {
  .aspect-ratio {
    position: relative;
  }

  .aspect-ratio.is-16-9 {
    padding-block-end: 56.25%;
  }

  .aspect-ratio > * {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
  }
}
