.u-emojiList {
	--emoji-size: 1.75em;

	list-style: none;
	padding-inline-start: var(--emoji-size);
	position: relative;
}

.u-emojiList li span:first-child {
	inline-size: var(--emoji-size);
	inset-inline: 0;
	position: absolute;
}

.u-unstyledList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.u-unstyledList li {
	margin: 0;
}
