ul,
ol {
  padding-inline-start: 1.125em;
}

li {
  margin-block-end: 0.25em;
}

li::marker {
  color: var(--color-brand);
}

dt {
  color: var(--color-brand);
}

dd + dt {
  margin-block-start: 0.5em;
}
