.Note {
	background: var(--color-highlight-background);
	margin-inline: calc(var(--content-highlight-inset) * -1);
	padding-block: 0.75em;
	padding-inline: var(--content-highlight-inset);
}

.Note > :last-child {
	margin-block-end: 0;
}

@media (width >= 42rem) {
	.Note {
		border-end-end-radius: var(--border-radius-small);
		border-start-end-radius: var(--border-radius-small);
	}
}

@media (width >= 70rem) {
	.Note {
		border-radius: var(--border-radius-small);
	}
}
