blockquote {
	font-style: italic;
	padding-inline-start: var(--content-indent);
	position: relative;
}

blockquote::before {
	color: var(--color-brand);
	content: '»';
	font-size: 1.25em;
	font-weight: bold;
	inset-inline-start: 0;
	line-height: 1.1;
	pointer-events: none;
	position: absolute;
}

blockquote em {
	font-style: normal;
}
