table {
	border-spacing: 0;
}

th,
td {
	border: 0.0625em var(--color-table-border);
	border-block-end-style: solid;
	border-inline-end-style: solid;
	padding-block: 0.375em;
	padding-inline: 0.5em;
}

th {
	text-align: start;
}

:where(th, td):first-child {
	background: var(--color-content-background);
	border-inline-start-style: solid;
	inset-inline-start: 0;
	position: sticky;
}

:where(thead tr:first-child) th {
	border-block-start-style: solid;
}

/* Top-left border-radius */
:where(thead tr:first-child) :first-child {
	border-start-start-radius: var(--border-radius-small);
}

/* Top-right border-radius */
:where(thead tr:first-child) :last-child {
	border-start-end-radius: var(--border-radius-small);
}

/* Bottom-left border-radius */
:where(tbody tr:last-child) :first-child {
	border-end-start-radius: var(--border-radius-small);
}

/* Bottom-right border-radius */
:where(tbody tr:last-child) :last-child {
	border-end-end-radius: var(--border-radius-small);
}

.Table-scroll {
	margin-block-end: 1em;
	overflow-x: auto;
}
