@layer base {
	/* Teko */

	@font-face {
		font-display: swap;
		font-family: Teko;
		font-style: normal;
		font-weight: 600;
		src: url("/fonts/teko-600-normal.woff2") format("woff2");
	}

	/* Nudica */

	@font-face {
		font-display: swap;
		font-family: Nudica;
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/nudica-400-normal.woff2") format("woff2");
	}

	@font-face {
		font-display: swap;
		font-family: Nudica;
		font-style: italic;
		font-weight: 400;
		src: url("/fonts/nudica-400-italic.woff2") format("woff2");
	}

	@font-face {
		font-display: swap;
		font-family: Nudica;
		font-style: normal;
		font-weight: 600;
		src: url("/fonts/nudica-600-normal.woff2") format("woff2");
	}

	@font-face {
		font-display: swap;
		font-family: Nudica;
		font-style: italic;
		font-weight: 600;
		src: url("/fonts/nudica-600-italic.woff2") format("woff2");
	}

	/* Nudica Mono */

	@font-face {
		font-display: swap;
		font-family: "Nudica Mono";
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/nudica-mono-400-normal.woff2") format("woff2");
	}

	@font-face {
		font-display: swap;
		font-family: "Nudica Mono";
		font-style: italic;
		font-weight: 400;
		src: url("/fonts/nudica-mono-400-italic.woff2") format("woff2");
	}
}
