.LayoutGallery-list {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	list-style: none;
	margin: 0;
	padding: 0;
}

.LayoutGallery-item {
	margin: 0;
	padding: 0;
}

.LayoutGallery-image {
	aspect-ratio: 4 / 3;
	margin: 0;
	object-fit: cover;
}

.LayoutGallery-link {
	display: block;
}
