.LayoutPost-meta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 0.9em;
	row-gap: 0.2em;

	margin-block-end: 0.5em;

	font-size: calc(1rem + 0.7vw);
}

.LayoutPost-date {
	font-family: var(--font-family-text);
	color: var(--color-text-muted);
}

.LayoutPost-tags {
	font-size: calc(1em / 1.5);
}

@media (min-width: 70rem) {
	.LayoutPost-meta {
		font-size: 1.5rem;
	}
}
