.LayoutTag-list {
	list-style: none;

	display: grid;
	gap: 2rem;

	margin: 0;
	padding: 0;
}

.LayoutTag-item {
	margin: 0;
}

.LayoutTag-meta {
	margin-block-end: 0.25rem;
	color: var(--color-text-muted);
}

.LayoutTag-link {
	font-size: 1.25rem;
	font-weight: bold;
}

.LayoutTag-link:not(:hover) {
	text-decoration: none;
}
