@font-face {
	ascent-override: 155.511%;
	descent-override: 77.1062%;
	font-family: "Teko Fallback: Noto Sans";
	size-adjust: 61.6034%;
	src: local("Noto Sans Regular"), local("NotoSans-Regular");
}

@font-face {
	ascent-override: 145.9389%;
	descent-override: 72.3601%;
	font-family: "Teko Fallback: Roboto";
	size-adjust: 65.6439%;
	src: local("Roboto"), local("Roboto-Regular");
}

@font-face {
	ascent-override: 146.2593%;
	descent-override: 72.519%;
	font-family: "Teko Fallback: Arial";
	line-gap-override: 0%;
	size-adjust: 65.5001%;
	src: local("Arial"), local("ArialMT");
}

@font-face {
	ascent-override: 88.3407%;
	descent-override: 23.0826%;
	font-family: "Work Sans Fallback: Noto Sans";
	size-adjust: 105.2743%;
	src: local("Noto Sans Regular"), local("NotoSans-Regular");
}

@font-face {
	ascent-override: 82.9031%;
	descent-override: 21.6618%;
	font-family: "Work Sans Fallback: Roboto";
	size-adjust: 112.1791%;
	src: local("Roboto"), local("Roboto-Regular");
}

@font-face {
	ascent-override: 83.0851%;
	descent-override: 21.7093%;
	font-family: "Work Sans Fallback: Arial";
	line-gap-override: 0%;
	size-adjust: 111.9334%;
	src: local("Arial"), local("ArialMT");
}
