{% extends "../default.njk" %}

{% block content %}

  <h1>Twitter Archive</h1>

  <ol reversed>
    {% for tweet in tweets %}
      <li>
        <a href="/status/{{ tweet.id }}">{{ tweet.text | striptags | truncate(40) }}</a>
      </li>
    {% endfor %}
  </ol>

{% endblock %}
