<figure>

	{% if hero.image %}
		{% imageFeed {
			src: hero.image,
			alt: hero.alt
		} %}
	{% elseif hero.iframe or hero.youtube %}
		{% if hero.iframe %}
			{% set src = hero.iframe %}
		{% endif %}
		{% if hero.youtube %}
			{% set src = "https://www.youtube-nocookie.com/embed/" ~ hero.youtube %}
		{% endif %}
		<iframe
			title="{{ hero.title }}"
			src="{{ src }}"
			width="1120"
			height="630"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen
		></iframe>
	{% endif %}

	{% if hero.caption %}
		<figcaption>
			{{ hero.caption | safe }}
		</figcaption>
	{% endif %}

</figure>
