.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2.5em;
  row-gap: 1.5em;

  padding-block: 2em;
}

.footer__links {
  display: flex;
  justify-content: center;
  gap: 1em;

  font-weight: 700;
}

.footer__link {
  text-decoration: none;
}
