.header {
  padding-block: var(--container-padding);
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em 1em;
}

.header__link {
  font-weight: 700;
  text-decoration: none;
}

.header__link:hover,
.header__link.is-active {
  text-decoration: underline;
  text-decoration-thickness: 0.125em;
}

.header__link.is-icon {
  /* Match focus outline to icon circle. */
  border-radius: 50%;
}

.header__link .icon {
  display: block;
  font-size: 1.375em;
}
