*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-text);
  line-height: var(--line-height-text);
  color: var(--color-text);

  background: var(--color-background);
}

body {
  margin: 0;
}

img,
svg,
iframe {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

summary {
  cursor: pointer;
}

iframe {
  border: 0;
}
