table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.375em 0.5em;
  border: 0.0625em solid var(--color-table-border);
}

th {
  text-align: start;
}

.table-scroll {
  margin-block-end: 1em;
  overflow-x: auto;
}
