h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 0.5em;

  font-family: var(--font-family-heading);
  line-height: var(--line-height-heading);
}

p {
  margin: 0 0 1em;
}

a {
  color: var(--color-brand);

  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

a:focus {
  text-decoration: none;
  outline: 0.125em solid currentcolor;
  outline-offset: 0.125em;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  margin: 0 0 1em;
  padding-left: 1.125em;
}

li {
  margin-bottom: 0.25em;
  padding-left: 0.5em;
}

li::marker {
  color: var(--color-brand);
}

blockquote {
  margin: 0 0 1em;
  padding-left: 1em;

  font-style: italic;

  border-left: 0.25em solid var(--color-brand);
}

code {
  padding-inline: 0.2em;

  font-family: var(--font-family-mono);
  font-size: 0.95em;

  background: var(--color-code-background);
  border-radius: 0.2em;
}
