h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 0.5em;

  font-family: var(--font-family-heading);
  line-height: var(--line-height-heading);
}

p {
  margin: 0 0 1em;
}

a {
  color: var(--color-primary);

  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: 0.125em solid currentColor;
  outline-offset: 0.125em;
}

ul,
ol {
  margin: 0 0 1em;
  padding-left: 2em;
}

blockquote {
  margin: 0 0 1em;
  padding-left: 1em;

  font-style: italic;

  border-left: 0.25em solid var(--color-text-muted);
}
