:root {
  --color-brand: hsl(244deg 55% 41%);
  --color-text: hsl(221deg 39% 11%);
  --color-text-muted: hsl(220deg 9% 46%);
  --color-background: hsl(0deg 0% 100%);
  --color-content-background: hsl(20deg 30% 96%);
  --color-code-background: hsl(19deg 53% 87%);
  --color-table-border: hsl(218deg 11% 65%);

  --font-family-text: "IBM Plex Sans", sans-serif;
  --font-family-heading: "Merriweather", serif;
  --font-family-mono: "IBM Plex Mono", monospace;

  --line-height-text: 1.5;
  --line-height-heading: 1.2;

  --container-width: 70rem;
  --container-padding: 1rem;

  --content-hero-bleed: 10rem;
  --content-inner-width: 40rem;

  color-scheme: light dark;
  accent-color: var(--color-brand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-brand: hsl(230deg 94% 82%);
    --color-text: hsl(210deg 20% 98%);
    --color-text-muted: hsl(218deg 11% 65%);
    --color-background: hsl(0deg 0% 0%);
    --color-content-background: hsl(215deg 28% 17%);
    --color-code-background: hsl(217deg 19% 27%);
    --color-table-border: hsl(215deg 14% 34%);
  }
}

.is-theme-light {
  --color-brand: hsl(244deg 55% 41%);
  --color-text: hsl(221deg 39% 11%);
  --color-text-muted: hsl(220deg 9% 46%);
  --color-background: hsl(0deg 0% 100%);
  --color-content-background: hsl(20deg 30% 96%);
  --color-code-background: hsl(19deg 53% 87%);
  --color-table-border: hsl(218deg 11% 65%);

  color-scheme: light;
}

.is-theme-dark {
  --color-brand: hsl(230deg 94% 82%);
  --color-text: hsl(210deg 20% 98%);
  --color-text-muted: hsl(218deg 11% 65%);
  --color-background: hsl(0deg 0% 0%);
  --color-content-background: hsl(215deg 28% 17%);
  --color-code-background: hsl(217deg 19% 27%);
  --color-table-border: hsl(215deg 14% 34%);

  color-scheme: dark;
}
