:root {
  --color-brand: hsl(275deg 90% 40%);
  --color-text: hsl(275deg 30% 10%);
  --color-text-muted: hsl(275deg 5% 44%);
  --color-background: hsl(0deg 0% 100%);
  --color-content-background: hsl(330deg 30% 96%);
  --color-table-border: hsl(275deg 20% 75%);

  --font-family-text: "IBM Plex Sans", sans-serif;
  --font-family-heading: "Merriweather", serif;

  --line-height-text: 1.5;
  --line-height-heading: 1.2;

  --container-width: 70rem;
  --container-padding: 1rem;

  --content-hero-bleed: 10rem;
  --content-inner-width: 40rem;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-brand: hsl(275deg 90% 72%);
    --color-text: hsl(275deg 30% 90%);
    --color-text-muted: hsl(275deg 13% 65%);
    --color-background: hsl(0deg 0% 0%);
    --color-content-background: hsl(275deg 15% 15%);
    --color-table-border: hsl(275deg 15% 40%);
  }
}
