/* The theme-dependent variable definitions use a CSS Custom Property switch to reduce declaration repetition. */

:root {
	--true: ;
	--false: initial;

	/* Base colors */

	--color-brand--light: var(--is-theme-light) hsl(244deg 55% 41%);
	--color-text--light: var(--is-theme-light) hsl(221deg 39% 11%);
	--color-text-muted--light: var(--is-theme-light) hsl(220deg 9% 46%);
	--color-background--light: var(--is-theme-light) hsl(20deg 30% 96%);
	--color-content-background--light: var(--is-theme-light) hsl(0deg 0% 100%);
	--color-highlight-background--light: var(--is-theme-light) hsl(19deg 53% 87%);
	--color-table-border--light: var(--is-theme-light) hsl(218deg 11% 65%);

	--color-brand--dark: hsl(230deg 94% 82%);
	--color-text--dark: hsl(210deg 20% 98%);
	--color-text-muted--dark: hsl(218deg 11% 65%);
	--color-background--dark: hsl(0deg 0% 0%);
	--color-content-background--dark: hsl(215deg 28% 17%);
	--color-highlight-background--dark: hsl(217deg 19% 27%);
	--color-table-border--dark: hsl(215deg 14% 34%);

	/* Code colors */

	--color-code-comment--light: var(--is-theme-light) hsl(120deg 100% 25%);
	--color-code-property--light: var(--is-theme-light) hsl(0deg 100% 45%);
	--color-code-attr-name--light: var(--is-theme-light) hsl(0deg 100% 45%);
	--color-code-attr-value--light: var(--is-theme-light) hsl(240deg 100% 50%);
	--color-code-key--light: var(--is-theme-light) hsl(0deg 100% 25%);
	--color-code-selector--light: var(--is-theme-light) hsl(0deg 100% 25%);
	--color-code-tag--light: var(--is-theme-light) hsl(0deg 100% 25%);
	--color-code-keyword--light: var(--is-theme-light) hsl(240deg 100% 50%);
	--color-code-important--light: var(--is-theme-light) hsl(240deg 100% 50%);
	--color-code-punctuation--light: var(--is-theme-light) hsl(0deg 0% 23%);
	--color-code-interpolation--light: var(--is-theme-light) hsl(21deg 72% 28%);
	--color-code-string--light: var(--is-theme-light) hsl(0deg 77% 36%);
	--color-code-number--light: var(--is-theme-light) hsl(158deg 87% 28%);
	--color-code-function--light: var(--is-theme-light) hsl(40deg 52% 31%);
	--color-code-parameter--light: var(--is-theme-light) hsl(233deg 100% 25%);
	--color-code-rule--light: var(--is-theme-light) hsl(288deg 100% 43%);

	--color-code-comment--dark: #6a9955;
	--color-code-property--dark: #9cdcfe;
	--color-code-attr-name--dark: #9cdcfe;
	--color-code-attr-value--dark: #ce9178;
	--color-code-key--dark: #569cd6;
	--color-code-selector--dark: #d7ba7d;
	--color-code-tag--dark: #569cd6;
	--color-code-keyword--dark: #ce9178;
	--color-code-important--dark: #569cd6;
	--color-code-punctuation--dark: #ccc;
	--color-code-interpolation--dark: #179fff;
	--color-code-string--dark: #ce9178;
	--color-code-number--dark: #b5cea8;
	--color-code-function--dark: #dcdcaa;
	--color-code-parameter--dark: #9cdcfe;
	--color-code-rule--dark: #c586c0;

	/* Colors mappings */

	--color-brand: var(--color-brand--light, var(--color-brand--dark));
	--color-text: var(--color-text--light, var(--color-text--dark));
	--color-text-muted: var(--color-text-muted--light, var(--color-text-muted--dark));
	--color-background: var(--color-background--light, var(--color-background--dark));
	--color-content-background: var(--color-content-background--light, var(--color-content-background--dark));
	--color-highlight-background: var(--color-highlight-background--light, var(--color-highlight-background--dark));
	--color-table-border: var(--color-table-border--light, var(--color-table-border--dark));

	--color-code-comment: var(--color-code-comment--light, var(--color-code-comment--dark));
	--color-code-property: var(--color-code-property--light, var(--color-code-property--dark));
	--color-code-attr-name: var(--color-code-attr-name--light, var(--color-code-attr-name--dark));
	--color-code-attr-value: var(--color-code-attr-value--light, var(--color-code-attr-value--dark));
	--color-code-key: var(--color-code-key--light, var(--color-code-key--dark));
	--color-code-selector: var(--color-code-selector--light, var(--color-code-selector--dark));
	--color-code-tag: var(--color-code-tag--light, var(--color-code-tag--dark));
	--color-code-keyword: var(--color-code-keyword--light, var(--color-code-keyword--dark));
	--color-code-important: var(--color-code-important--light, var(--color-code-important--dark));
	--color-code-punctuation: var(--color-code-punctuation--light, var(--color-code-punctuation--dark));
	--color-code-interpolation: var(--color-code-interpolation--light, var(--color-code-interpolation--dark));
	--color-code-string: var(--color-code-string--light, var(--color-code-string--dark));
	--color-code-number: var(--color-code-number--light, var(--color-code-number--dark));
	--color-code-function: var(--color-code-function--light, var(--color-code-function--dark));
	--color-code-parameter: var(--color-code-parameter--light, var(--color-code-parameter--dark));
	--color-code-rule: var(--color-code-rule--light, var(--color-code-rule--dark));

	/* Shadows */

	--box-shadow-small--light: var(--is-theme-light) 0 0.0625em 0.5rem hsl(275deg 40% 15% / 8%),
		0 0.125em 1rem hsl(275deg 30% 30% / 15%);
	--box-shadow-large--light: var(--is-theme-light) 0 0.125rem 0.5rem hsl(275deg 40% 15% / 10%),
		0 0.25rem 2rem hsl(275deg 30% 10% / 40%);

	--box-shadow-small--dark: 0 0.0625rem 0.5rem hsl(275deg 50% 20% / 30%), 0 0.125rem 1.5rem hsl(275deg 40% 10% / 50%);
	--box-shadow-large--dark: 0 0.125rem 1rem hsl(275deg 50% 20% / 30%), 0 0.25rem 2.5rem hsl(275deg 40% 10% / 60%);

	/* Shadows mappings */

	--box-shadow-small: var(--box-shadow-small--light, var(--box-shadow-small--dark));
	--box-shadow-large: var(--box-shadow-large--light, var(--box-shadow-large--dark));

	/* Typography */

	--font-family-text: 'IBM Plex Sans', sans-serif;
	--font-family-mono: 'IBM Plex Mono', monospace;

	--line-height-text: 1.5;
	--line-height-heading: 1.2;

	/* Sizes */

	--container-width: 70rem;
	--container-padding: 1rem;

	--content-hero-bleed: 10rem;
	--content-inner-width: 40rem;
	--content-highlight-inset: var(--container-padding);

	/* Border radius */

	--border-radius-small: 0.1875rem;

	accent-color: var(--color-brand);
	color-scheme: light dark;
}

/* Handle system-defined color scheme. */

@media (prefers-color-scheme: light) {
	:root {
		--is-theme-light: var(--true);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--is-theme-light: var(--false);
	}
}

/* Handle user-selected color scheme. */

:root[data-theme='light'] {
	--is-theme-light: var(--true);

	color-scheme: light;
}

:root[data-theme='dark'] {
	--is-theme-light: var(--false);

	color-scheme: dark;
}
