/* The theme-dependent variable definitions use a CSS Custom Property switch to reduce declaration repetition. */

:root {
	/* stylelint-disable-next-line */
	--true:;
	--false: initial;

	--color-brand--light: var(--is-theme-light) hsl(244deg 55% 41%);
	--color-text--light: var(--is-theme-light) hsl(221deg 39% 11%);
	--color-text-muted--light: var(--is-theme-light) hsl(220deg 9% 46%);
	--color-background--light: var(--is-theme-light) hsl(20deg 30% 96%);
	--color-content-background--light: var(--is-theme-light) hsl(0deg 0% 100%);
	--color-highlight-background--light: var(--is-theme-light) hsl(19deg 53% 87%);
	--color-table-border--light: var(--is-theme-light) hsl(218deg 11% 65%);

	--color-brand--dark: hsl(230deg 94% 82%);
	--color-text--dark: hsl(210deg 20% 98%);
	--color-text-muted--dark: hsl(218deg 11% 65%);
	--color-background--dark: hsl(0deg 0% 0%);
	--color-content-background--dark: hsl(215deg 28% 17%);
	--color-highlight-background--dark: hsl(217deg 19% 27%);
	--color-table-border--dark: hsl(215deg 14% 34%);

	--box-shadow-small--light:
		var(--is-theme-light)
		0 0.0625em 0.5rem hsl(275deg 40% 15% / 8%),
		0 0.125em 1rem hsl(275deg 30% 30% / 15%);
	--box-shadow-large--light:
		var(--is-theme-light)
		0 0.125rem 0.5rem hsl(275deg 40% 15% / 10%),
		0 0.25rem 2rem hsl(275deg 30% 10% / 40%);

	--box-shadow-small--dark:
		0 0.0625rem 0.5rem hsl(275deg 50% 20% / 30%),
		0 0.125rem 1.5rem hsl(275deg 40% 10% / 50%);
	--box-shadow-large--dark:
		0 0.125rem 1rem hsl(275deg 50% 20% / 30%),
		0 0.25rem 2.5rem hsl(275deg 40% 10% / 60%);

	--color-brand: var(--color-brand--light, var(--color-brand--dark));
	--color-text: var(--color-text--light, var(--color-text--dark));
	--color-text-muted: var(--color-text-muted--light, var(--color-text-muted--dark));
	--color-background: var(--color-background--light, var(--color-background--dark));
	--color-content-background: var(--color-content-background--light, var(--color-content-background--dark));
	--color-highlight-background: var(--color-highlight-background--light, var(--color-highlight-background--dark));
	--color-table-border: var(--color-table-border--light, var(--color-table-border--dark));

	--box-shadow-small: var(--box-shadow-small--light, var(--box-shadow-small--dark));
	--box-shadow-large: var(--box-shadow-large--light, var(--box-shadow-large--dark));

	--font-family-text: "IBM Plex Sans", sans-serif;
	--font-family-mono: "IBM Plex Mono", monospace;

	--line-height-text: 1.5;
	--line-height-heading: 1.2;

	--container-width: 70rem;
	--container-padding: 1rem;

	--content-hero-bleed: 10rem;
	--content-inner-width: 40rem;
	--content-highlight-inset: var(--container-padding);

	--border-radius-small: 0.1875rem;

	color-scheme: light dark;
	accent-color: var(--color-brand);
}

/* Handle system-defined color scheme. */

@media (prefers-color-scheme: light) {
	:root {
		--is-theme-light: var(--true);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--is-theme-light: var(--false);
	}
}

/* Handle user-selected color scheme. */

:root.is-light {
	--is-theme-light: var(--true);

	color-scheme: light;
}

:root.is-dark {
	--is-theme-light: var(--false);

	color-scheme: dark;
}
