<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title + " | " if not isHome }}Fynn Becker</title>

    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:700|IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  </head>
  <body>

    {% include "header.njk" %}

    <main class="content">

      <h1 class="content__title">{{ title }}</h1>

      <div class="content__wrapper {% if hero.src %}content__wrapper--hero{% endif %}">
        {% if hero %}
          <img
            class="content__hero"
            src="{{ hero.src }}"
            alt="{{ hero.alt }}"
            width="1120"
            height="692"
            loading="lazy"
          >
        {% endif %}

        <div class="content__inner container">
          {% block content %}
            {{ content | safe }}
          {% endblock %}
        </div>

      </div>

    </main>

    {% include "footer.njk" %}

  </body>
</html>
