{% extends "./base.njk" %}

{% block title %}
  {% set post_date = page.date.toISOString().slice(0, 10) %}
  <time
    class="post__date"
    datetime="{{ post_date }}"
  >
    {{ post_date }}
  </time>
  {{ title }}
{% endblock %}
