{% extends "./base.njk" %}

{% block content %}
  {{ content | safe }}

  <ol
    class="tag__list"
    reversed
  >
    {% for item in collections[collection] | reverse %}
      {% set item_date = item.date.toISOString().slice(0, 10) %}

      <li class="tag__item">

        <time
          class="tag__date"
          datetime="{{ item_date }}"
        >
          {{ item_date }}
        </time>

        <a href="{{ item.url }}">
          {% if item.data.language %}
            <span aria-label="(In {{ item.data.language | upper }}) " class="tag__language">{{ item.data.language | upper }}</span>
          {%- endif %}
          {{- item.data.title }}
        </a>

      </li>
    {% endfor %}
  </ol>
{% endblock %}
