{% extends "./base.njk" %}

{% block content %}
  {{ content | safe }}

  <ol reversed>
    {% for item in collections[collection] | reverse %}
      <li>
        <a href="{{ item.url }}">{{ item.data.title }}</a>
      </li>
    {% endfor %}
  </ol>
{% endblock %}
