.tag__list {
  list-style: none;
  padding: 0;
}

.tag__item {
  margin-block: 1em;
  padding: 0;
  font-size: 1.25em;
}

.tag__date {
  display: block;

  font-size: 0.8em;
  color: var(--color-text-muted);
}

.tag__language {
  display: inline-block;
  margin-inline-end: 0.5em;
  padding-block: 0.2em;
  padding-inline: 0.25em;
  vertical-align: 0.05em;

  font-size: 0.8em;
  line-height: 1;
  color: #fff;

  background: var(--color-text-muted);
}
