{% extends "./base.njk" %}

{% block content %}
  {{ content | safe }}

  <ol
    class="tag__list"
    reversed
  >
    {% for item in collections[collection] | reverse %}
      {% set item_date = item.date.toISOString() %}

      <li class="tag__item">

        <time
          class="tag__date"
          datetime="{{ item_date }}"
        >
          {{ item_date.slice(0, 10) }}
        </time>

        <a href="{{ item.url }}">{{ item.data.title }}</a>

      </li>
    {% endfor %}
  </ol>
{% endblock %}
